section {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  width: 600px;
  height: 2000%;
  padding-top: 55px;
  padding-bottom: 800px;
}

.x-posts-sec-nav {
  width: 599px;
  height: 55px;
  background: rgba(0, 0, 0, 0.594);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  z-index: 1000;
  & div:nth-of-type(1) {
    font-family: 'chirpB';
    color: #e7e9ea;
    width: 267px;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
    position: relative;
    
    &:hover {
      background-color: var(--grayhover);
      cursor: pointer;
    }
  }
  
  & .forme::before {
    content: "";
    width: 55px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--blue-dark);
    position: absolute;
    bottom: -0.01%;
    margin-bottom: 1px;
  }
  
  & div:nth-of-type(2) {
    font-family: 'chirpM';
    color: var(--gray);
    width: 278px;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
    
    &:hover {
      background-color: var(--grayhover);
      cursor: pointer;
    }
  }
  
  
  & div:nth-of-type(3) {
    border: none;
    height: 100%;
    width: calc(600px - (267px + 278px));
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .tooltip-settings-box {
      transition: background-color 0.15s;
      position: relative;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
      
      &:hover .tooltip-timeline {
        pointer-events: none;
        opacity: 1;
        
      }
    }
    
    & img {
      width: 20px;
    }
    
    & .round-settings {
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
      /* display: flex;
      flex-direction: column; */
      transition: background-color 0.15s;
      
      &:hover {
        background-color: var(--grayhover);
        cursor: pointer;
        
      }
    }
    
    & .tooltip-timeline {
      background-color: rgb(71, 88, 98);
      font-size: 1.1rem;
      width: 100px;
      height: 20px;
      bottom: -70%;
      font-family: 'chirpR';
      border-radius: 3px;
      position: absolute;
      opacity: 0;
      color: #e7e9ea;
      transition: opacity 0.15s 0.5s;
      pointer-events: none;
    }
  }
}

.x-posting {
  border-bottom: 2px solid #333;
  width: 599px;
  height: 118px;
  display: flex;
  gap: 13px;
  padding-top: 4px;
  
}

.profile-post {
  margin-top: 11px;
  padding-left: 16px;
  
  /* vertical-align: middle; */
  & img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    
    
  }
}

.input-reply {

  /* border: 1px solid red; */
  height: 50px;

  & .input {
    margin-top: 18px;
  }

  & input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'chirpR';
    font-size: 2rem;
    outline: none;

  }

  & input::placeholder {
    color: #cdcecf;
  }
}

/* .action{
  border:none;
  border-radius: 100px;
  width: fit-content;
  padding: 3px 12px;
  margin-top: 15px;
  margin-left: -8px;
  transition: background-color 0.15s;
  display: flex;
  gap: 3px;
  & img{
    width: 16px;
  }
  & .whocan{
    font-family: 'chirpB';
    color:var(--blue-dark);
    font-size: 1.4rem;
    position: relative;
  }
  & .whocan::before{
    content: "";
    pointer-events: none;
      height: 0.8px;
      position: absolute;
      background-color: #333;
      left:-25%;
      width: 515px;
      bottom: -80%;
    }
    &:hover{
      background-color: #0b66a332;
      cursor: pointer;
    }
  } */

.icon-post {
  display: flex;
  margin-left: -5px;
  justify-content: space-between;
  width: 518px;
  height: fit-content;
  align-items: center;
}

.icons {
  display: flex;

  & img {
    width: 20.3px;
    height: 20.3px;
  }

  & #location {
    filter: brightness(55%);
  }
}

.image {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(12, 146, 236, 0.129);
    cursor: pointer;

  }

  &:last-of-type:hover {
    background-color: transparent;
    cursor: auto;
  }
}

.tooltip-image-box {
  transition: background-color 0.15s;
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .tooltip-image {
    opacity: 1;
  }
}

.tooltip-image {
  background-color: rgb(71, 88, 98);
  font-size: 1.1rem;
  width: fit-content;
  padding: 3px 5px;
  bottom: -65%;
  font-family: 'chirpR';
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  color: #e7e9ea;
  transition: opacity 0.15s 0.5s;
  pointer-events: none;
}

.post-button {

  & button {
    background-color: var(--blue-dark);
    border: none;
    border-radius: 100px;
    color: white;
    font-family: 'chirpB';
    padding: 9px 17px;
    font-size: 1.5rem;
    filter: brightness(60%);

    transition: background-color 0.15s opacity 0.15s;

  }

  & button:hover {
    cursor: pointer;
    background-color: var(--blue-darkhover);
  }
  & button:active {
    opacity: 0.8;
  }
}

.post1{
  width: 599px;
  height: fit-content;
  padding: 14px 16px;
 padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.15s;
  display: flex;
  gap: 10px;
  color: var(--username);
  font-family: 'chirpR';
  font-size: 1.5rem;
  &:hover{
    background-color: rgba(255, 255, 255, 0.026);
  }
}
.user-dp{
    width: 40px;
    height: 40px;
  & img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;

  }
}
svg{
  fill: #71767B;
  width: 19px ;
  height: 20px;
}

.user-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.username-id-dot{
  display: flex;
  justify-content: space-between;
}
.username-id {
  display: flex;
  justify-content: center;
  align-items: center;
& img{
  width: 20px;
  height: 18px;
}
& .username{
  font-family: 'chirpB';
}
& .user-id{
  color: #71767B;
  margin-left: 5px;
}
}
.post-icons{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
 
  & .interactions{
    display: flex;
    gap: 50px;
    
    & div{
      display: flex;
      align-items: center;
     
      gap: 10px;
      & p{
        font-size: 1.3rem;
        color: #71767B;
      }
    }
  }
  & .extra-interactions {
   display: flex;
   /* gap: 15px; */
  }
}

.round-reply,.round-repost,.round-likes,.round-activity,.round-dot{
  border: none;
  border-radius: 50%;
  transition: background-color 0.15s ,box-shadow 0.15s;
}
.reply:hover{
   & svg{
    fill: var(--blue-dark);
   }
   & #replyp{
    color: var(--blue-dark);
   }
   & .round-reply{
    background-color: rgba(12, 146, 236, 0.129);
    box-shadow: 0 0 0 6px rgba(12, 146, 236, 0.129);
   }
}
.repost:hover{
   & svg{
    fill:rgb(0,186,124);
   }
   & #repostp{
    color: rgb(0,186,124);
   }
   & .round-repost{
    background-color: rgba(0,186,124,0.205);
    box-shadow: 0 0 0 6px rgba(0, 186, 124, 0.205);
   }
}
.likes:hover{
   & svg{
    fill:rgb(249,24,128);
   }
   & #likep{
    color:rgb(249,24,128);
   }
   & .round-likes{
    background-color: rgba(249,24,128,0.205);
    box-shadow: 0 0 0 6px rgba(249,24,128,0.205);
   }
}
.activity:hover{
  & svg{
   fill: var(--blue-dark);
  }
  & #activityp{
   color: var(--blue-dark);
  }
  & .round-activity{
   background-color: rgba(12, 146, 236, 0.129);
   box-shadow: 0 0 0 6px rgba(12, 146, 236, 0.129);
  }
}
.round-save,.round-share{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.15s ,box-shadow 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-share:hover{
  & svg{
   fill: var(--blue-dark);
  }
  
   background-color: rgba(12, 146, 236, 0.129);
 

}
.round-save:hover{
  & svg{
   fill: var(--blue-dark);
  }
  
   background-color: rgba(12, 146, 236, 0.129);
  
  
}
.round-dot:hover{
  & svg{
   fill: var(--blue-dark);
  }
  
   background-color: rgba(12, 146, 236, 0.129);
   box-shadow: 0 0 0 7px rgba(12, 146, 236, 0.129);
  
}
.tooltip-svg-dot {
  background-color: rgb(71, 88, 98);
  font-size: 1.1rem;
  width: fit-content;
  padding: 3px 5px;
  bottom: -85%;
  left: -10%;
  font-family: 'chirpR';
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  color: #e7e9ea;
  transition: opacity 0.15s 0.5s;
  pointer-events: none;
}
.tooltip-svg {
  background-color: rgb(71, 88, 98);
  font-size: 1.1rem;
  width: fit-content;
  padding: 3px 5px;
  bottom: -55%;
  left: -10%;
  font-family: 'chirpR';
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  color: #e7e9ea;
  transition: opacity 0.15s 0.5s;
  pointer-events: none;
}
.tooltip-svg-box {
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  padding-left: -30px;

  &:hover .tooltip-svg {
    opacity: 1;
  }
}
.dot_post {
  position: relative;
  border: none;
  border-radius: 50%;
  display: flex;
  padding-left: -30px;

  &:hover .tooltip-svg-dot {
    opacity: 1;
  }
}

.account-short-info{
 position: absolute;
 background-color: black;
 z-index: 900;
  width: 300px;
  height: fit-content;
  border: none;
  padding: 12px 16px;
  padding-bottom: 18px;
  border-radius: 10px;
  box-shadow: 0 0 7px #e7e9eaa5;
  bottom: -600%;
 left: -400%;
 visibility: hidden;
  transition: visibility 0.3s 0.5s;
  & .follow-pic{
    display: flex;
    justify-content: space-between;
    & img{
      width: 64px;
      height: 64px;
      border-radius: 50%;
      transition: filter 0.15s;
      &:hover{
        filter: brightness(85%);
      }
    }
    & button{
      width: 80px;
      height: 38px;
      border: none;
      border-radius: 20px;
      font-family: 'chirpB';
      font-size: 1.5rem;
      background-color: #e7e9ea;
      cursor: pointer;
      transition: background-color 0.15s,opacity 0.15s;
      color: #373636;
      &:hover{
        background-color: #e7e9eaf4;
      }
      &:active{
        opacity: 0.9;
      }
    }
  }
  .username-icon{
    display: flex;
    align-items: center;
    gap: 2px;
    & p{
      margin-top: 5px;
      font-family: 'chirpB';
      font-size: 1.7rem;

      &:hover{
        text-decoration: underline;
      }
    }
    & img{
      width: 20px;
      height: 18px;
    }
  }
  .userid-box{
    font-size: 1.5rem;
    color: #71767B;
    margin-top: 3px;
    margin-bottom: 15px;
  }
  .bio{
    font-size: 1.5rem;
    margin-bottom: 12px;
    cursor: auto;


  }
  .follow-no{
    font-size: 1.4rem;
     display: flex;
     gap: 15px;
     cursor: auto;
     span{
      color: #71767B;
      margin-right: 2px;
     }
  }
}

   .user-dp{
    position: relative;
  
  }
 .user-dp:hover{
    & .dp{
      filter: brightness(85%);
    }
  }
.user-dp:hover .account-short-info {
    visibility: visible;
    cursor: pointer;
  }
.username:hover{
  text-decoration: underline;
 }

.hash{
  color: var(--blue-dark);
  font-size: 1.5rem;
  &:hover{
    text-decoration: underline;
  }
}
.link{
  color: var(--blue-dark);
  font-size: 1.6rem;
  &:hover{
    text-decoration: underline;
  }
}
.post-community{
  border: 1px solid #333;
  border-radius: 20px;
   width: 100%;
   height: fit-content;
  margin-top: 10px;
  & img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
.post3{
  bottom: -800%;
}
.post2{
  bottom: -680%;
}
.image-box{
  width: 100%;
  height: 200px;
}
.commu-info{
  background-image: linear-gradient(rgb(38, 51, 64) 5px, rgb(15, 20, 25) 5px, rgb(15, 20, 25) 100%);
  height: 135px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 15px;
  & p{
    font-family: 'chirpB';
    font-size: 2.1rem;
  
  }
  & button{
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 20px;
    font-family: 'chirpB';
    font-size: 1.6rem;
    background-color: #e7e9ea;
    cursor: pointer;
    transition: background-color 0.15s,opacity 0.15s;
    color: #141313;
    &:hover{
      background-color: #d2d2d2f4;
    }
    &:active{
      opacity: 0.9;
    }
}
}
.members {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 10px;
  & img:first-of-type{
    margin-left: 0;
    z-index: 6;
  }
 & img:nth-of-type(2){
    z-index: 5;
  }
 & img:nth-of-type(3){
   
    z-index: 4;
  }
 & img:nth-of-type(4){
   
    z-index: 3;
  }
  & img:nth-of-type(5){
   
    z-index: 2;
  }
& img{
  margin-left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid black;
}
& p{
  font-family: 'chirpR';
  font-size: 1.5rem;
  margin-left: 6px;
}

}
